.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.mainMenu .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.mainMenu .content * {
  margin: 2px;
}

.mainMenu .content p {
  margin: 16px 0;
  color: white;
  background-color: #263238;
  border-radius: 4px;
  padding: 4px;
}
