.Lobby {
  margin: 4px;
  padding: 4px;
  display: flex;
  width: 24%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Lobby p {
  width: 100%;
  color: white;
  margin: 0;
  padding: 4px;
}

.Lobby hr {
  width: 100%;
  border: none;
  border-top: 1px solid #888888;
  margin: 0;
}

.Lobby button {
  margin-top: 4px;
  border: none;
  outline: none;
  background-color: #673ab7;
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
}

.Lobby button:hover {
  background-color: #311b92;
}

.col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #888888;
}


.infoCol {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
}
