.Cell {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: xx-small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Player_1 {
  background-color: #2196f3;
  color: white;
}
.Player_2 {
  background-color: #4caf50;
  color: white;
}
.Player_3 {
  background-color: #f44336;
  color: #111111;
}
.Player_4 {
  background-color: #ff9800;
  color: #111111;
}
.Player_5 {
  background-color: #795548;
  color: white;
}
.Player_6 {
  background-color: #9c27b0;
  color: white;
}
.Player_7 {
  background-color: #ffeb3b;
  color: #111111;
}
.Player_8 {
  background-color: #263238;
  color: white;
}
.Player_9 {
  background-color: #9e9e9e;
  color: #111111;
}

.Chest {
  background-color: #cd8500;
  border-radius: 4px;
  color: white;
}
