.Cell {
  position: fixed;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: red;
}

.Player_1 {
  background-color: blue;
}

.Player_2 {
  background-color: green;
}

.Player_3 {
  background-color: red;
}

.Player_4 {
  background-color: orange;
}

.Player_5 {
  background-color: brown;
}

.Player_6 {
  background-color: purple;
}

.Player_7 {
  background-color: yellow;
}

.Player_8 {
  background-color: black;
}

.Player_9 {
  background-color: white;
}
