.cell {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: xx-small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_1 {
  background-color: #2196f3;
  color: white;
}
.player_2 {
  background-color: #4caf50;
  color: white;
}
.player_3 {
  background-color: #f44336;
  color: #111111;
}
.player_4 {
  background-color: #ff9800;
  color: #111111;
}
.player_5 {
  background-color: #795548;
  color: white;
}
.player_6 {
  background-color: #9c27b0;
  color: white;
}
.player_7 {
  background-color: #ffeb3b;
  color: #111111;
}
.player_8 {
  background-color: #263238;
  color: white;
}
.player_9 {
  background-color: #9e9e9e;
  color: #111111;
}

.image {
  width: 30px;
  height: 30px;
}

.chest {
  color: white;
  font-size: x-small;
}
