.Alert {
  position: fixed;
  bottom: 32px;
  display: flex;
  z-index: 10;
  border-radius: 4px;
  color: black;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  overflow-y: hidden;
  transition: 0.3s ease;
}

.Alert p {
  text-align: center;
  margin: 0;
}

.Closed {
  transform: translateX(1000px);
}

.Alert button {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s ease;
  width: 20px;
  height: 20px;
  font-family: monospace;
  margin-left: 16px;
  outline: none;
}

.Warn {
  background-color: #ffcdd2;
}
.Warn button {
  background-color: #f44336;
}
.Warn button:hover {
  background-color: #b71c1c;
}

.Info {
  background-color: #bbdefb;
}
.Info button {
  background-color: #2196f3;
}
.Info button:hover {
  background-color: #0d47a1;
}

.Success {
  background-color: #c8e6c9;
}
.Success button {
  background-color: #4caf50;
}
.Success button:hover {
  background-color: #1b5e20;
}
