.GameInfo {
  display: flex;
  flex-direction: column;
}

.Player_1 {
  color: blue;
}
.Player_2 {
  color: green;
}
.Player_3 {
  color: red;
}
.Player_4 {
  color: orange;
}
.Player_5 {
  color: brown;
}
.Player_6 {
  color: purple;
}
.Player_7 {
  color: yellow;
}
.Player_8 {
  color: black;
}
.Player_9 {
  color: grey;
}
