.Lobbies {
  display: flex;
  flex-wrap: wrap;
}

.Lobbies .Empty {
  background-color: #f44336;
  color: #eeeeee;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  width: 24%;
  text-align: center;
}
