html {
  background: url(assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*::selection {
  background-color: #263238;
  color: white;
}

a {
  text-decoration: none;
}
